<form [formGroup]="formDeveloperAdd" class= "normal-form">
    <div class= "controls-container">
        <h2>{{developerAdd}}</h2>
        <mat-form-field>
            <input formControlName="themeName" matInput placeholder= "Add Production Company Name Here">
            <mat-error> cannot be left blank</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="themeDescription" matInput placeholder= "Add Production Company Description Here">
            <mat-error> cannot be left blank</mat-error>
        </mat-form-field>

        <div class= "button-row">
            <button mat-raised-button color="primary" type= "submit" [disabled]="formDeveloperAdd.invalid"> Submit</button>
            <button mat-raised-button type="reset" (click)="onCancel()"> Cancel</button>
        </div>
    </div>
</form>
