<p>games-list works!</p>
<hr>
<!--<mat-grid-list cols="2">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title> Game name </mat-card-title>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of Game">
            <span> This is a description for the game associated </span>
            <mat-card-actions>
                <button mat-flat-button color="primary"> View </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-title> Game name </mat-card-title>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of Game">
            <span> This is a description for the game associated </span>
            <mat-card-actions>
                <button mat-flat-button color="primary" (click)="goToPage('game-list/game')"> View </button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>-->
<hr>
<app-games></app-games>