<!--The following attributes Are Static, Require API connection to reference values properly eg: image,
 Theme Title, Description, and Associated Games-->

<mat-grid-list cols="2">
    <mat-grid-tile>
        <mat-card class="card">
            <div class="image">   
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of Game">
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class= "theme-details">
            <mat-list>
                <mat-list-item> Theme Title</mat-list-item>
                <br> 
                <mat-list-item>
                    <h3 mat-line>Description:</h3>
                    <p mat-line>
                        Emulators are fun, they provde immersion into worlds uknown.
                        Discover the joys of being anything other than a human.
                        Be a rock- still and strong. 
                        Be a bird- free and flying.
                        Be a dog- loyal and content.
                    </p>
                 </mat-list-item>
            </mat-list>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<div class="expanding-games">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Associated Games
            </mat-panel-title>
            <mat-panel-description>
                Listing of Games Associated with this theme
            </mat-panel-description>
        </mat-expansion-panel-header>
           <app-games-list></app-games-list>
    </mat-expansion-panel>
</div>
