<mat-grid-list cols="2">
<mat-grid-tile>
<button mat-raised-button color="primary" (click)= "onAddDeveloper()"> Add New Company</button>
</mat-grid-tile>
<mat-grid-tile>
<!--reqires API connectivity to retrieve listing of Games-->
<!--<mat-select> 
        <mat-option> None </mat-option>
        <mat-option *NgFor let developer of DeveloperArray" value= "developer.value"</mat-option>
    </mat-select>
    <button mat-raised-button color="primary" (click)= "onUpdateDeveloper()">Update Company</button>
-->
</mat-grid-tile>
</mat-grid-list>