<!--NgFor if theme exists, replicate card structure, with specific theme attributes-->
<!--requires API connection with Array to display listing-->
<mat-card>
    <!--requires API connection for theme.name-->
    <mat-card-title> theme name </mat-card-title>
        <!--requires API connection for theme.image-->
        <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of theme">
        <!--requires API connection for theme.description-->
        <mat-card-content> This is a description for the theme associated, click view more to see game description </mat-card-content>
        <mat-card-actions>
            <!--requires API connection to route to specific theme page by ID association-->
            <button mat-flat-button color="primary"> View </button>
        </mat-card-actions>
</mat-card>

<!--end of NgFor-->
<!--breakline for style display-->
<br>
<app-themes></app-themes>