<br><br>
<div class = "links">
    <button mat-raised-button color="primary" routerLink="/admin-game-page" routerLinkActive="active">Games</button>
    <br><br>
    <button mat-raised-button color="primary" routerLink="/admin-developer-page" routerLinkActive="active">Developers</button>
    <br><br>
    <button mat-raised-button color="primary" routerLink="/admin-genre-page" routerLinkActive="active">Genres</button>
    <br><br>
    <button mat-raised-button color="primary" routerLink="/admin-rating-page" routerLinkActive="active">Ratings</button>
    <br><br>
    <button mat-raised-button color="primary" routerLink="/admin-vendor-page" routerLinkActive="active">Vendors</button>
</div>

<br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br>

