<!--The following attributes Are Static, Require API connection to reference values properly eg: image,
 Game Title, Game Platform Type, Release Date, Production Company, Description, and Vendors-->

<mat-grid-list cols="2">
    <mat-grid-tile>
        <mat-card class="card">
            <div class="image">   
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of Game">
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class= "game-details">
            <mat-list>
                <mat-list-item> Game Title</mat-list-item>
                <mat-list-item> Game Platform Type </mat-list-item>
                <mat-list-item> release Date </mat-list-item>
                <mat-nav-list>
                    <a mat-list-item routerLinkActive="list-item-active" routerLink="/production_companies-list/production_companies-specific">Production Companies </a>
                </mat-nav-list>
                <br>
                <mat-list-item>
                    <h3 mat-line>Description:</h3>
                    <p mat-line>
                        This is a Game description of a really
                        cool game. dog emulator lets you know the joys of life
                        belly rubs, and good eats.
                        Frollic Through the fields,
                        play fetch, run around the house in the middle of the night for no reason.
                        The power is yours, Experience the wide eyed
                        wonder of being a dog!
                    </p>
                 </mat-list-item>
            </mat-list>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<div class="expanding-vendors">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Associated Vendors
            </mat-panel-title>
            <mat-panel-description>
                Listing of Vendors that provide this game
            </mat-panel-description>
        </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item> vendor1</a>
                <a mat-list-item> vendor2</a>
                <a mat-list-item> vendor3</a>
            </mat-nav-list>
    </mat-expansion-panel>
</div>
