<mat-grid-list cols="2">
<mat-grid-tile>
<button mat-raised-button color="primary" (click)= "onAddGame()"> Add New Game</button>
</mat-grid-tile>
<mat-grid-tile>
<!--reqires API connectivity to retrieve listing of Games-->
<!--<mat-select> 
        <mat-option> None </mat-option>
        <mat-option *NgFor let game of gameArray" value= "gameName.value"</mat-option>
    </mat-select>
    <button mat-raised-button color="primary" (click)= "onUpdateGame()">Update Game</button>
-->
</mat-grid-tile>
</mat-grid-list>